/***************************************************************************
VNW 2.0 CSS
****************************************************************************/
body table{
	font-size: 11px;
	text-align: left;
}
body div{
	/*text-align: left;*/
}
input, textarea{
	/*font-family: Arial, Helvetica, sans-serif;*/
	color: #222222;
}

a.searchresult{
	color:#003399;	text-decoration: underline;
}
a.searchresult:visited{
	color:#333333;	text-decoration: underline;
}
a.searchresult:hover{
	color:#F7931D;	text-decoration: underline;
}

.description{
	color:#333333;
}
/*LINK TEXT Promotion with bold attribute */
a.txt_promo_bold{		
	color:#555555; font-weight: bold; text-decoration: underline;
}
a.txt_promo_bold:visited{
	color:#333333; font-weight: bold; text-decoration: underline;
}
a.txt_promo_bold:hover{		
	color:#F7931D; font-weight: bold; text-decoration: underline;
}
.txt_promo_bold{font-weight: bold;}
/*LINK Promotion with bold and red attribute */
a.txt_promo_boldred{		
	font-weight: bold; color:#FF0000; text-decoration: underline;
}
a.txt_promo_boldred:visited{		
	font-weight: bold; color:#FF0000; text-decoration: underline;
}
a.txt_promo_boldred:hover{		
	font-weight: bold; color:#F7931D; text-decoration: underline;
}
.txt_promo_boldred{font-weight: bold; color:#FF0000;}
/* LINK Normal */
a.txt_normal {
	color:#555555; text-decoration: underline;
}
a.txt_normal:visited{
	color:#333333; text-decoration: underline;
}
a.txt_normal:hover{		
	color:#F7931D; text-decoration: underline;
}

.txt_title a{	/*Link in Title*/
	font-weight: normal;
}
.txt_title a:hover{
	font-weight: normal;
}
.nav_bar{ /*Sub menu*/
	color:#FFFF00;
	/*padding: 5px 10px 5px 10px;*/
	PADDING-RIGHT: 8px; PADDING-LEFT: 23px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;
	MARGIN: 0px;
}
.nav_bar a{ /*link in sub menu */
	color:#FFFF00;
	font-weight: bold;
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;
}
.nav_bar a:hover{
	color:#FFFFFF;
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;
}
.nav_bar a.selected {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;
	color:#FFFFFF;
}
.nav_bar_right {
	color:#FFFFFF;
	font-weight:bold;
}
.nav_bar_right a{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
.nav_bar_right a:hover{
	color:#FFFF00;
	font-weight:bold;
	text-decoration:underline;
}

/* Text Format */
.txt_note{			/*Make note 1px Smaller */
	font-size:10px;
}
.txt_1{				/*TXT in homepage*/
	color:#FFFFFF;
}
.txt_2{				/*TXT in left column*/
	color:#666666;
}
.txt_3{				/*TXT in forget password*/
	color:#33BEF2;
	font-size:14px;
	font-weight:bold;
}
.txt_error{			/*TXT error*/
	color:#FF0000; font-weight:100;
}
.txt_title{
	color:#FFFFFF;
	background:url(../../images.vietnamworks.com/bar_title.gif) no-repeat left 50% #07aaef;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:left;
	font-size: 12px;
	font-weight: bold;
}
.title_bg{PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND:#00aeef url(../../images.vietnamworks.com/tn_bg_title_left.gif) no-repeat left; COLOR: #ffffff; TEXT-ALIGN: left}
.title_bg a{color:#ffffff;}
.title_bg div{ display:block;background:url(../../images.vietnamworks.com/tn_bg_title_right.gif) right no-repeat; height:20px; padding-top:5px}


.txt_tilte_lv2{
	color:#F7931D;
	text-align:left;
	font-size: 12px;
	font-weight: bold;
}

.txt_require{		/*TXT of require star*/
	color:#FF0000;
	text-align:left;
	padding-left:0px;
}

.txt_orange{font-size:20px; color:#FF9900; font-weight:bold; padding-left:30px; padding-top:15px}
.txt_bluelogo{font-size:18px; color:#00aeef; font-weight:bold; }

.error { /*error header*/
	font-weight: bold;
	color:#FF0000;
}
.error_text {			/*TXT error*/
	color:#FF0000;
	font-weight: bold;
}

/* Form Elements */
input, select{
	font-size: 11px;
}

.txt_adver{				/*TXT for advertising title*/
	color:#CECECE;
	font-size:10px;
	/*font-weight:bold;*/
}

/***************************************************************************
****************************************************************************
									End Edit
****************************************************************************
***************************************************************************/
/* Employer Pages : begin */
.e_home_recruit{
	background:url(../../images.vietnamworks.com/e_home_recruit.gif) top center no-repeat;
	padding-left: 245px;
	padding-top: 185px;
	width:525px; /* fixed for IE5.x/win: 280+245 */
	voice-family: "\"}\"";
	voice-family: inherit;
	width:280px; /* the value should be */
}
/** nothing **/
.bla1 {
}
.e_home_recruit_vn{
	background:url(../../images.vietnamworks.com/e_home_recruit_vn.gif) top center no-repeat;
	padding-left: 245px;
	padding-top: 185px;
	width:525px; /* fixed for IE5.x/win: 280+245 */
	voice-family: "\"}\"";
	voice-family: inherit;
	width:280px; /* the value should be */
}
/** nothing **/
.bla2 {
}
.e_home_box{
	width: 170px;
}
/** nothing **/
.bla3 {
}
.e_home_box_inside{
	background:url(../../images.vietnamworks.com/e_cell_body.gif) top no-repeat;
	color:#FFFFFF;
	padding: 10px;
	width: 170px; /* fixed for IE5.x/win: 150+10+10 */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 150px; /* the value should be */
}
/** nothing **/
.bla4 {
}
.e_home_box_inside a{
	color:#FFFFFF;
	text-decoration: underline;
}
.e_home_box_inside a:hover{
	color:#FFF200;
}
.e_login{
	background:url(../../images.vietnamworks.com/e_home_login.gif) no-repeat center top;
	padding-left: 350px;
	padding-top:70px;
}
.e_login_vn{
	background:url(../../images.vietnamworks.com/e_home_login_vn.gif) no-repeat center top;
	padding-left: 350px;
	padding-top:70px;
}
/* Employer Pages : end */

/* Main Content */
.main_content{
	width: 778px;
	padding: 0px;
	background-color:#FFFFFF;
	vertical-align:top;
}
.main_left{
	background:#E5E5E5 repeat-y right;
}
.main_right{
	background:#E5E5E5 repeat-y left;
}

/* Top bar */
.top_space{
	height: 4px;
}
.top_left{
	background: #939598;
	color:#FFFFFF;
	text-align:left;
	padding-left: 20px;
}
.top_left strong{
	color:#FFFF00;
}
.top_right{
	background: #939598;
	color:#FFFFFF;
	text-align: right;
	padding-right: 10px;
}
.top_right a{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:underline;
}
.top_right a:hover{
	color:#FFFF00;
	font-weight:bold;
	text-decoration:underline;
}
.top_right strong{
	color:#FFFF00;
}
/* Banner */
.quick_search_head{
	background:url(../../images.vietnamworks.com/blue_quick_search_head.gif) no-repeat;
	height: 22px;
	padding-left: 10px;
}
.quick_search_body{
	background:url(../../images.vietnamworks.com/blue_quick_search_body.gif) no-repeat;
	height: 59px;
	text-align:center;
}
/*Content Body*/
.main_body{
	background:#00AEEF;
}
.main_body_content{
	background:url(../../images.vietnamworks.com/bg_body_head.gif) #FFFFFF no-repeat top;
}
.e_main_inner_content{
	float:left;
	width: 69%;
}
/*Banner Login */
.ad_space{
	text-align:left;
	vertical-align: top;
	padding: 16px 0px 0px 5px;
}
/*Cell bar */
.cell_bar{
	background: #00AEEF url(../../images.vietnamworks.com/blue_cell_title_left.gif) no-repeat left;
	padding-left: 13px;
	height:25px;
}
.cell_bar_2{
	background: #00AEEF url(../../images.vietnamworks.com/blue_cell_title_left_2.gif) no-repeat left;
	padding-left: 17px;
	height:25px;
}
.cell_bar_2 span{
	float:right;
	background:white;
}
.cell_bar span{
	float:right;
}
.middle{
	padding: 5px;
}
.middle2{
	padding: 5px;
	padding-left:15px;
	color:#004c9b;
	font-size:12PX
}

.cell_feature{
	background: #99CCFF;
}
.cell_feature_2{
	background: #CADFF3;
}
.cell_feature_3{
	background: #999999;
	padding-left:15px; padding-top:3px;
	padding-bottom:3px;
	color:#FFFFFF;
	font-size:12px;
}
.cell_feature .top span, .cell_feature .bottom span{
	float:right;
}
.cell_feature_2 .top span, .cell_feature_2 .bottom span{
	float:right;
}
.cell_feature_4{
	background: #CCCCCC;
}
.cell_feature_4 .top span, .cell_feature_4 .bottom span{
	float:right;
}
.inner_tbl_top{
	background: url(../../images.vietnamworks.com/tbl_top.gif) repeat-x bottom;
	padding-left: 15px;
}
.inner_tbl_bottom{
	background: url(../../images.vietnamworks.com/tbl_bottom.gif) repeat-x bottom;
}
.inner_tbl_body{
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid 1px #DEDEDE;
	border-right: solid 1px #DEDEDE;
	background: #FFFFFF;
	text-align:justify;
}
.inner_tip_tbl_banner{
	background: url(../../images.vietnamworks.com/tip_tbl_tl_2.gif) no-repeat left bottom;
	text-align:right;
	vertical-align:top;
	height: 32px;
}
.inner_tip_tbl_top{
	background: url(../../images.vietnamworks.com/tip_tbl_top.gif) repeat-x bottom;
}
.inner_tip_tbl_bottom{
	background: url(../../images.vietnamworks.com/tip_tbl_bottom.gif) repeat-x bottom;
}
.inner_tip_tbl_body{
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid 1px #B2B2B2;
	border-right: solid 1px #B2B2B2;
	background: #FFFFFF;
	text-align:justify;
}
/* Poll */
.poll_top td{
	background:url(../../images.vietnamworks.com/blue_box_bg.gif) repeat-x;
	text-align: center;
}
.poll_body{
	border-bottom: #DEDEDE solid 1px;
	border-left: #DEDEDE solid 1px;
	border-right: #DEDEDE solid 1px;
	padding: 4px;
}
/*Line*/
.line{
	background:url(../../images.vietnamworks.com/blue_dot_line.gif) repeat-x;
	height:1px;
	clear:both;
}
.line_2{
	background:url(../../images.vietnamworks.com/blue_dot_line_2.gif) repeat-x;
	height:1px;
	clear:both;
}
.line_3{
	background:url(../../images.vietnamworks.com/blue_dot_line_3.gif) repeat-x;
	height:1px;
	clear:both;
}
/*others*/
.tbl_center td{
	text-align:center;
}
.footer {
	background-color: #939598;
	background-image: url(../../images.vietnamworks.com/bg_footer.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	color:#FFFFFF;
	text-align:center;
	padding-bottom: 10px;
	padding-top:5px;
	min-width:760px;
}
.footer a{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
.footer a:hover{
	color:#FFFF00;
	font-weight:bold;
	text-decoration:underline;
}
.footer_hidden{
	display:none;
}
.box_login_home{
	background:url(../../images.vietnamworks.com/bg_login.gif) no-repeat center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.box_login_inner{
	background:url(../../images.vietnamworks.com/login_box_03.gif) no-repeat bottom right;
}
.career_advice{
	background: #CADFF3 url(../../images.vietnamworks.com/banner_careeradvice.gif) no-repeat top;
	vertical-align:bottom;
	padding-left: 154px;
	padding-top: 55px;
}
/*left menu*/
.left_menu {
	padding-top: 5px;
	padding-left: 5px;
}
.left_menu .body{
	padding-left: 5px;
	background: #CCCCCC;
}
.left_tips{
	padding-left: 10px;
	vertical-align:top;
	float:left;
}
.left_form{
	padding-left:30px;
	vertical-align:top;
	text-align:left;
}
/*inner_content*/
.inner_content {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align:center;
}

.welcome {
	padding-bottom: 15px;
}
.wrapper .my_resume, .wrapper .my_job_alert, .wrapper .my_job_tracker, .wrapper .my_career_advice{
	float:left;
	width:49.5%;
	padding-left:1px;
}
.wrapper .my_job, .wrapper .my_candidate, .wrapper .my_template, .wrapper .my_resume_alert {
	float:left;
	width:49.5%;
	padding-left:1px;
}
.tbl{
	background-color:#FFFFFF;
}
.wrapper_2{
	width: 980px;
	margin:auto;
	padding-top:10px	
}
.wrapper_2columns{
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:5px;
}
/* Table List */
.tbl_tr_list{
	background: #999999 url(../../images.vietnamworks.com/blue_dot_line_2.gif) repeat-x bottom;
	color:white;
	font-weight: bold;
	text-align:left;
	height:20px;
}
.tbl_td_list{
	background:url(../../images.vietnamworks.com/blue_dot_line_3.gif) repeat-x bottom;
}
.tbl_td_list2{
	background: #D7E7F6 url(../../images.vietnamworks.com/blue_dot_line_3.gif) repeat-x bottom;
}
.tbl_td_list3{
	background: #FFFFFF url(../../images.vietnamworks.com/blue_dot_line_3.gif) repeat-x bottom;
	background-color: #e7f2fd;
	color:#000000;
}
.tbl_td_list3 td{
	padding: 10px;
}
.tbl_td_list td, .tbl_td_list2 td{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 2px;
	padding-left: 3px;
	color: #003399;
}
.tbl_td_list a, .tbl_td_list2 a{
	text-decoration: underline;
}

.rs_search_title{
	background: #999999 url(../../images.vietnamworks.com/blue_dot_line_2.gif) bottom repeat-x;
	color: white;
	padding: 5px;
}
.brief_list td{
	background:url(../../images.vietnamworks.com/blue_dot_line_3.gif) bottom repeat-x;
	padding-left: 5px;
}
.brief_list_2 td{
	background:#F7F7F7 url(../../images.vietnamworks.com/blue_dot_line_3.gif) bottom repeat-x;
	padding-left: 5px;
}
td.rs_search_check{
	background:#e5e5e5;
	padding:2px;
	text-align:center;
}
.rs_search_des{
	background:#f7f7f7 url(../../images.vietnamworks.com/blue_dot_line_3.gif) bottom repeat-x;
}

/*********** Thanks **************/
.thank_page{
	background:url(../../images.vietnamworks.com/thanks_box.gif) no-repeat bottom;
	padding: 115px 230px 5px 25px;
	vertical-align:bottom;
}
.thank_page div{
	color: #00AEEF;
	font-weight:bold;
	font-size: 18px;
	padding-bottom: 5px;
}
.thank_page span{
	color: #31B733;
	font-weight:bold;
}

/********** PRICE LIST ***********/
.pl_tbl{
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-top: 0px solid #666;
	border-right: 0px solid #666;
}
.pl_tbl tr td{
	border-collapse:collapse;
	border-top: 1px solid #666;
	border-right: 1px solid #666;
}
.pl_header{
	background:#00aeef;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:20px;
}
.pl_header_2{
	/*background:#66ccff;*/
	font-weight:bold;
}
.pl_sub_1{
	margin: 1px 1px 0px 0px;
	background:#CCC;
}
.pl_sub_2{
	margin: 1px 1px 0px 0px;
	background:#FFF;
}

/*********** TAB POLL **************/
.tabcontent{
display:none;
}

.news_frame {
 margin-top:5px;
 /*margin-bottom:5px;*/
 margin-left:10px;
 margin-right:10px;
}

.paginator {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; padding-left:10px; padding-right:10px;
	font-size:11px;
}

.paginator A {
	text-decoration:underline
}

.paginator A:visited {
	text-decoration:underline
}

.paginator .this-page {
	text-decoration:none; font-weight:bold;
}

.paginator A:hover {
	text-decoration:underline
}

/*
.paginator {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 20px;
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
}

.paginator A {
	BORDER-RIGHT: #CCC 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #CCC 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; BORDER-LEFT: #CCC 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #CCC 1px solid; TEXT-DECORATION: none;
	font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#003399; background:#FCFCFC
}

.paginator A:visited {
	BORDER-RIGHT: #CCC 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #CCC 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; BORDER-LEFT: #CCC 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #CCC 1px solid; TEXT-DECORATION: none;
	font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#660099; background-color:#FCFCFC
}

.paginator .this-page {
	BORDER-RIGHT: #036 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #036 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; BORDER-LEFT: #036 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #036 1px solid; TEXT-DECORATION: none;
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px;
	font-family:"Courier New", Courier, mono; BACKGROUND: #003399; color:#FFFFFF
}

.paginator A:hover {
	BORDER-LEFT-COLOR: #036; BACKGROUND: #003399; BORDER-BOTTOM-COLOR: #036; COLOR: #fff; BORDER-TOP-COLOR: #036; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #036;
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
}
*/

#hintbox{/*CSS for pop up hint box */
	position:absolute;
	background-color: lightyellow;
	width: 150px; /*Default width of hint.*/
	padding: 3px;
	border:1px solid black;
	font:normal 9px Verdana;
	line-height:18px;
	z-index:100;
	visibility: hidden;
	text-align:left;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
	cursor: help;
	margin: 3px 8px;
}

.tab_boder_body_left{
	border-left: 1px solid #00AEEF;
}

.tab_boder_body_right{
	border-right: 1px solid #00AEEF;
}

.tab_boder_head{
	background-image:url(../../images.vietnamworks.com/tab_border_bg_top.gif);
	background-position:bottom;
	background-repeat:repeat-x;
}

.tab_boder_foot{
	border-bottom: 1px solid #00AEEF;
}

.blueSubTitle {color:#FF9900; font-size:12px;}
.blueSubTitle {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #003399;
}
/* Huy 2-3-3006*/
.e_border_upgrade{
	background: url(../../images.vietnamworks.com/border_1.gif) no-repeat center;
	padding: 15px;
}

/*.bodyTextGray{ background-color:#CCCCCC}*/
/* Head Bar */
#div_head_bar{
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
}
.head_bar_select{
	background:url(../../images.vietnamworks.com/bullet_7.gif) no-repeat left;	
	padding-left: 22px;	
	color:#FFFFFF;	
	font-weight: bold;		
	float:left;
}
.head_bar_select .left{
	background:url(../../images.vietnamworks.com/head_bar_select_l.gif) no-repeat left;	width:5px;	height:25px;	float:left;
}
.head_bar_select .main_text{
	float:left;		background: #00aaef;	padding: 5px 0px 5px 0px;	font-size: 12px;	
}
.head_bar_select .right{
	background:url(../../images.vietnamworks.com/head_bar_select_r.gif) no-repeat right;	width:5px;	float:left;	height:25px;	
}

.head_bar{
	background:url(../../images.vietnamworks.com/bullet_7.gif) no-repeat left; padding-left: 22px; color:#00aaef; font-weight: bold; font-size:12px;	
	float:left;
}
.head_bar .left{
	background:url(../../images.vietnamworks.com/head_bar_l.gif) no-repeat left; width:5px;	float:left;	height:25px;	
}
.head_bar .main_text{
	float:left; background: url(../../images.vietnamworks.com/head_bar_bg.gif);	padding: 5px 0px 5px 0px; font-size:12px;		
}
.head_bar .right{
	background:url(../../images.vietnamworks.com/head_bar_r.gif) no-repeat right;	width:5px;	float:left;	height:25px;	
}
.btn_js{
	font-size:11px;
	font-weight: bold;
	background-color: #FF9900;
	background-image:url(../../images.vietnamworks.com/btn_bg.gif);
	background-position:center;
	color:#FFFFFF;
	border-top: 1px solid #f9ab4f;
	border-left: 1px solid #f9ab4f;
	border-right: 1px solid #b66c15;
	border-bottom: 1px solid #b66c15;
	height:22px;
	cursor:pointer;
}
/**********promotion***********/
.style1 {
	color: #009900;
	font-weight: bold;
	font-size: 24px;
}
.style3 {
	color: #00aaef;
	font-size: 12px;
	font-weight: bold;	
}





/***************************************************************************
VNW 2.5 CSS
****************************************************************************/
/* style of page ------------------------------------------------------------------------------------*/
body{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; margin:0px; color:#555555}
/*
a{color:#555555}
a:hover{color:#ff9900}
*/
.link_public a{color:#555555;}
.link_public a:hover{color:#ff9900}
.link_public_un a{color:#555555; text-decoration:underline}
.link_public_un a:hover{color:#ff9900;text-decoration:underline}

/* style of layout ------------------------------------------------------------------------------------*/
.wrap{width:980px; margin:auto; padding-top:10px}
.bold{font-weight:bold}

/*style for header ------------------------------------------------------------------------------------*/
.top_header{background:#00aded; color:#fff; font-size:10px; height:25px; min-width:980px}
.top_header a{text-decoration:underline; color:#fff}
.top_header a:hover{text-decoration:underline; color:#ffff33}
.top_header .head_content{width:980px; text-align:left; margin:0px auto 0px;}
.top_header .head_left{text-align:left;margin-top:5px; margin-bottom:5px; float:left; width:900px;}
.top_header .icon_home{float:left; width:13px; height:11px; margin-right:5px}
.top_header .status_count{color:#fff; font-size:11px; float:left}
.top_header .count{font-weight:bold; color:#ffff33}  
.top_header .make_home{ font-weight:bold}
.top_header .contact{ margin-left:25px; margin-right:0px}
.top_header .language_vn{ float:right; background:#FF0000;  border-top:#fff 1px solid; border-left:#fff 1px solid; border-right:#fff 1px solid; padding-left:10px; padding-right:10px; padding-bottom:5px; padding-top:3px}
.top_header .language_vn a{color:#ffff33}
.top_header .language_eng{ float:right; background:#025195;  border-top:#fff 1px solid; border-left:#fff 1px solid; border-right:#fff 1px solid; padding-left:10px; padding-right:10px; padding-bottom:5px; padding-top:3px}
.top_header .language_eng a{color:#ffff33}
.logo{height:116px; float:left}
.top_banner{ width:425px; height:70px; margin-top:15px; float:right}
.top_header .head_right{float:right}

/*style for navigation ------------------------------------------------------------------------------------*/
.nav_bg{background:url(../../images.vietnamworks.com/header_bg.gif) bottom repeat-x; height:150px}
.wrap_nav{width:980px; margin:0px auto 0px; clear:both;position:relative}
.mannav_pos{width:980px;margin:0px auto 0px;clear:both;height:22px;	position:absolute;top:120px;left:0px}
.mannav{float:left; margin-right:2px; font-weight:bold}
.mannav a,
.mannav a span { display:block;background: #96979b url(../../images.vietnamworks.com/right_corner.gif) no-repeat right top; padding-right:5px; text-decoration:none; color:#fff}
.mannav a span { display:block;background: url(../../images.vietnamworks.com/left_corner.gif) no-repeat left top; padding-left:10px; padding-top:5px; padding-bottom:5px}
.mannav a:hover{background-color:#00aeef}

.nav_active{float:left; margin-right:2px; font-weight:bold}
.nav_active,
.nav_active span{ display:block;background: #00aeef url(../../images.vietnamworks.com/right_corner.gif) no-repeat right top; padding-right:5px; text-decoration:none; color:#fff}
.nav_active span{ display:block;background: url(../../images.vietnamworks.com/left_corner.gif) no-repeat left top; padding-left:10px; padding-top:5px; padding-bottom:5px}

.for_emp{float:right; font-weight:bold}
.for_emp a,
.for_emp a span { display:block;background: #006599 url(../../images.vietnamworks.com/right_corner.gif) no-repeat right top; padding-right:5px; text-decoration:none; color:#fff}
.for_emp a span { display:block;background: url(../../images.vietnamworks.com/left_corner.gif) no-repeat left top; padding-left:10px; padding-top:5px; padding-bottom:5px}

.sub_nav{clear:both; background:#01aef0 url(../../images.vietnamworks.com/bg_nav.gif) bottom repeat-x; padding-top:5px; padding-bottom:5px; margin-bottom:10px;border-top:#048dd3 1px solid; min-width:980px}
.sub_nav_div{display:block; border-bottom:#fff 1px dashed; padding-bottom:5px; padding-left:5px; text-align:center}
.sub_nav_span{text-align:left; color:#fff;}
.sub_nav_span a{text-decoration:none; color:#fff}
.sub_nav_span a:hover{text-decoration:none; color:#ff9900}


/* style for footer --------------------------------------------------------------------------------------------------------*/
.footer{clear:both; background-color:white /*padding-top:10px;*/}
.footer_blue{ color:#fff; background:#01aef0; border-bottom:#fff 1px dashed; text-align:center; padding:10px 0px 8px 0px; min-width:980px;}
.footer_gray{ color:#fff; background:#939598; text-align:center; padding:10px 0px 17px 0px; min-width:980px;}
.footer_gray a{ color:#fff; text-decoration:underline}
.footer_gray a:hover{ color:#ff9900; text-decoration:underline}
.copyright{padding-top:12px}

/* layout for homepage =================================================================================== */
#main_content{ margin-top:10px}
.left_col{float:left; width:573px}
.left_col .left_leftcol{float:left; width:213px}
.left_col .right_leftcol{float:right; width:350px}
.right_col{float:right; width:178px}

.view_more{color:#3399cc;font-weight:bold; clear:both; padding:5px 0px 5px 0px}
.view_more a{color:#3399cc; text-decoration:underline}
.view_more a:hover{color:#ff9900; text-decoration:underline}

.view_more_orange{color:#ff9900;font-weight:bold; clear:both; padding:5px 0px 5px 0px}
.view_more_orange a{color:#ff9900; text-decoration:underline}
.view_more_orange a:hover{color:#ff9900; text-decoration:underline}


/* quick search box style -------------------------*/
.adv_save_search{margin-left:34px; margin-top:10px}


/* top jobs box style -----------------------------*/
.job_content{border-bottom:#3399cc 1px dashed; padding:0px 5px 8px 10px; margin-bottom:8px}
.job_titlle { font-weight:bold; padding-bottom:5px;}
.job_titlle a{text-decoration:none}
.job_comp{}

/* featured logo box style ------------------------*/
.logo_in_line{height:48px; margin-top:10px; margin-left:4px}
.logo_in_line .logo_left, .logo_right{float:left; background:#fff url(../../images.vietnamworks.com/bg_featured_logo.png); width:91px; height:47px; padding:1px 0px 0px 1px}
.logo_in_line .logo_left{margin-right:7px;}

.logo_feature{
	margin-top:10px; 
	margin-left:2px;
	border:0px;
}

.logo_feature td{
	vertical-align: top;
	background: url(../../images.vietnamworks.com/bg_featured_logo.png)  0px 1px no-repeat; 
	width:98px;
	height:55px;
	padding-left:1px; 
	padding-top:2px;
}
/* adv banner style --------------------------------*/
.banner_adv{ list-style-type:none; margin:0px; padding:0px}
.banner_adv li{margin-bottom:10px}


/*style for box shadow, categoty search --------------------------------------------------------------------------*/
.cat_search_box{background:#f5f5f5 url(../../images.vietnamworks.com/img_homepage.gif) no-repeat 5px bottom;}
.content_catsearch{margin-left:150px}
.content_catsearch a{text-decoration:underline; }

.content_catsearch .padding_cat{padding-top:10px}
.content_catsearch .list_cat_left{ list-style-type:none; float:left; width:170px; margin:0px; padding-left:10px}
.content_catsearch .list_cat_left li{padding-bottom:5px}
.content_catsearch .list_cat_right{ list-style-type:none; margin:0px; padding-left:5px}
.content_catsearch .list_cat_right li{padding-bottom:5px}
.content_catsearch em {color:#999; font-style:normal}
.content_catsearch .padding_cat a{color:#333333}
.content_catsearch .padding_cat a:hover{color:#ff9900}

/*style for corner box -----------------------------------------------------------------------------------------*/
.box_corner {margin-bottom:10px}
.xtop {DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%}
.xbottom {DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%}
.xb1, .xb2, .xb3 {DISPLAY: block; OVERFLOW: hidden; HEIGHT: 1px}

.gray_curve{BORDER-RIGHT: #939393 1px solid;BORDER-LEFT: #939393 1px solid}
.gray_curve1{BORDER-RIGHT: #939393 1px solid;BORDER-LEFT: #939393 1px solid;background:#e9e9e9}
.gray_top{BACKGROUND: #939393;}
.gray_content {BORDER-RIGHT: #939393 1px solid; BORDER-TOP: #939393 0px solid; DISPLAY: block; BORDER-LEFT: #939393 1px solid; BORDER-BOTTOM: #939393 0px solid; padding:10px 5px 10px 7px}
.gray_content {background:#e9e9e9 url(../../images.vietnamworks.com/bg_login_box.gif) top repeat-x}

.blue_gray_curve{BORDER-RIGHT: #98d7fc 1px solid;BORDER-LEFT: #98d7fc 1px solid; background:#e4f5ff}
.blue_gray_top{BACKGROUND: #98d7fc;}
.blue_gray_content {BORDER-RIGHT: #98d7fc 1px solid; BORDER-TOP: #98d7fc 0px solid; DISPLAY: block; BACKGROUND: #e4f5ff; BORDER-LEFT: #98d7fc 1px solid; BORDER-BOTTOM: #98d7fc 0px solid; padding:10px 5px 10px 7px}

.gray_light_curve{BORDER-RIGHT: #d3d3d3 1px solid;BORDER-LEFT: #d3d3d3 1px solid; background:transparent}
.gray_light_top{BACKGROUND: #d3d3d3;}
.gray_light_content {BACKGROUND:scroll transparent repeat 10% 10% ;BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 0px solid; DISPLAY: block; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 0px solid; padding:5px 5px 10px 7px}

.blue_curve{BORDER-RIGHT: #3399cc 1px solid;BORDER-LEFT: #3399cc 1px solid}
.blue_top{BACKGROUND: #3399cc;}
.blue_content {BORDER-RIGHT: #3399cc 1px solid; BORDER-TOP: #3399cc 0px solid; DISPLAY: block; BACKGROUND: #eaf5f9; BORDER-LEFT: #3399cc 1px solid; BORDER-BOTTOM: #3399cc 0px solid; padding:10px}
.blue_content a{color:#555;}
.blue_content a:hover{color:#F7931D;}
.blue_title{BACKGROUND: #00adef;}/*color of box title*/ 
.blue_bg_title{margin:0; font-size:1.2em; padding:0 10px 5px 10px; background:#00adef; color:#fff; height:15px}
.blue_bg_title a{color:#fff; text-decoration:underline; font-size:10px}
.blue_bg_title a:hover{color:#ff9900; text-decoration:underline; font-size:10px}
.blue_bg_bottom{background:#eaf5f9}
.white_content {BORDER-RIGHT: #3399cc 1px solid; BORDER-TOP: #3399cc 0px solid; DISPLAY: block; BACKGROUND: #fff; BORDER-LEFT: #3399cc 1px solid; BORDER-BOTTOM: #3399cc 0px solid; padding:10px}


/* style for navigation -------------------------------- */
.nav_content_active {BORDER-RIGHT: #048dd3 1px solid; BORDER-TOP: #048dd3 0px solid; DISPLAY: block; BORDER-LEFT: #048dd3 1px solid; BORDER-BOTTOM: #00aded 1px solid; padding:7px 5px 7px 5px; background:#00aeef}
.nav_content_active {font-weight:bold; color:#fff; text-decoration:none}
.nav_content_inactive {BORDER-RIGHT: #939393 1px solid; BORDER-TOP: #939393 0px solid; DISPLAY: block; BORDER-LEFT: #939393 1px solid; BORDER-BOTTOM: #048dd3 1px solid; padding:7px 5px 7px 5px; background:#fff}
.nav_content_inactive {font-weight:bold; color:#555; text-decoration:none}

.nav_curve{BORDER-RIGHT: #939393 1px solid;BORDER-LEFT: #939393 1px solid;background:#fff}
.nav_top{BACKGROUND: #939393;}

.nav_curve_over{BORDER-RIGHT: #048dd3 1px solid;BORDER-LEFT: #048dd3 1px solid;background:#00aeef}
.nav_top_over{BACKGROUND: #048dd3;}
.nav_content_inactive_over{BORDER-RIGHT: #048dd3 1px solid; BORDER-TOP: #048dd3 0px solid; DISPLAY: block; BORDER-LEFT: #048dd3 1px solid; BORDER-BOTTOM: #00aded 1px solid; padding:7px 5px 7px 5px; background:#00aeef;font-weight:bold; color:#fff; text-decoration:none; cursor:pointer}      

/*a:hover .nav_curve{BORDER-RIGHT: #048dd3 1px solid;BORDER-LEFT: #048dd3 1px solid;background:#00aeef}
a:hover .nav_top{BACKGROUND: #048dd3;}
a:hover .nav_content_inactive{BORDER-RIGHT: #048dd3 1px solid;BORDER-LEFT: #048dd3 1px solid; BORDER-BOTTOM: #00aded 1px solid;background:#00aeef; color:#fff; text-decoration:none}
*/

.nav_btn{text-align:center; margin-right:2px; float:left; cursor:pointer}
.nav_home{width:60px}
.nav_jobsearch{width:90px}
.nav_createresume{width:120px}
.nav_careercenter{width:120px}
.nav_edu{width:90px}

.nav_btn_emp{text-align:center;float:right}
.nav_emp_top{BACKGROUND: #939393;}
.nav_emp_curve{BORDER-RIGHT: #939393 1px solid;BORDER-LEFT: #939393 1px solid;background:#0a8fd2}

.nav_content_emp {BORDER-RIGHT: #939393 1px solid; BORDER-TOP: #939393 0px solid; DISPLAY: block; BORDER-LEFT: #939393 1px solid; BORDER-BOTTOM: #048dd3 0px solid; padding:7px 5px 7px 5px; background:#0a8fd2 url(../../images.vietnamworks.com/bg_btn_emp.jpg) bottom}
.nav_content_emp {font-weight:bold; color:#ffff33; text-decoration:none}
.nav_content_emp a{ color:#FFFF00; text-decoration:none}
.nav_content_emp a:hover{ color:#FFFF00; text-decoration:none}
/*end navigation -- */

.xb1 {MARGIN: 0px 3px}
.xb2 {MARGIN: 0px 2px}
.xb3 {MARGIN: 0px 1px}


/* style for form --------------------------------------------------------------------------------------------------*/
.form_login{display:block; margin-top:10px; margin-bottom:10px}
.form_login label{display:block; margin-top:5px}
.text_box{border-style:none; border:#7f9db9 1px solid; width:200px; padding-left:2px}
.pos_btn{text-align:right; padding-top:10px; clear:both}
.button1{ border-style:none; border:#dedede 1px solid}
.btn_js1{ font-size:11px; font-weight: bold; background-color: #FF9900; background-position:center; color:#FFFFFF; border-top: 1px solid #f9ab4f; border-left: 1px solid #f9ab4f; border-right: 1px solid #b66c15; border-bottom: 1px solid #b66c15; height:22px; cursor:pointer}
.btn_js2{ font-size:12px; font-weight: bold; color:#FFFFFF; cursor:pointer; background:url(../../images.vietnamworks.com/bg_btn.gif); width:93px; height:25px; border-style:none; cursor:pointer;}

.form_poll{display:block; margin-top:10px; margin-bottom:10px}
.form_poll ul{list-style-type:none; margin:0px; padding:0px}
.form_poll ul li{clear:both}
.form_poll .option_poll{float:left;}
.form_poll label{float:left; margin-top:3px; margin-left:5px; width:133px}

/*style for text --------------------------------------------------------------------------------------------------*/
.txt_title1{font-size:12px; font-weight:bold; color:#00aeef}
.txt_title2{font-size:16px; font-weight:bold; color:#00aeef}
.txt_title3{font-size:20px; font-weight:bold; color:#ff9900}
.line_dashed{border-bottom:#939598 1px dashed; margin-bottom:10px; clear:both}
.line_dashed1{border-bottom:#939598 1px dashed; margin:11px 15px 11px 0px}
.signup_box{margin-top:5px; font-size:10px}
.signup_box a{text-decoration:none}
.signup_box span{display:block; margin-bottom:5px}

/*style for tab box -----------------------------------------------------------------------------------------------*/
.tab_btn{position:relative; z-index:1;height:24px; cursor:pointer;}
.tab_content{position:relative; top:-1px}
.tab_btn_active{float:left; height:24px;cursor:pointer; margin-right:2px; cursor:pointer;}
.tab_btn_active a{color:#555; text-decoration:none}
.tab_btn_active a:hover{color:#ff9900; text-decoration:none}
.tab_btn_inactive{height:24px; float:left; color:#fff; cursor:pointer; margin-right:2px}
.tab_btn_inactive a{color:#fff; text-decoration:none}
.tab_btn_inactive a:hover{color:#ff9900; text-decoration:none}

/*style for corner box*/
.tab_box {BACKGROUND: none transparent scroll repeat 0% 0%;}
.tbtop {DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%}
.tbbottom {DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%}

/*top content corner*/
.tb1_top, .tb2_top, .tb3_top{DISPLAY: block; OVERFLOW: hidden; HEIGHT: 1px}
.tb2_top, .tb3_top{BORDER-RIGHT: #939393 1px solid; BACKGROUND: #fff !important; BORDER-LEFT: #939393 1px solid}
.tb1_top {BACKGROUND: #939393; MARGIN: 0px 3px 0px 0px}
.tb2_top {MARGIN: 0px 2px 0px 0px}
.tb3_top {MARGIN: 0px 1px 0px 0px}

.tb1, .tb2, .tb3{DISPLAY: block; OVERFLOW: hidden;HEIGHT: 1px}
.tb2, .tb3{BORDER-RIGHT: #939393 1px solid; BACKGROUND: #fff !important; BORDER-LEFT: #939393 1px solid}
.tb1 {BACKGROUND: #939393; MARGIN: 0px 3px}
.tb2 {MARGIN: 0px 2px;}
.tb3 {MARGIN: 0px 1px}

/*tab corner*/
.tb1_tab, .tb2_tab, .tb3_tab, .tb4_tab  {DISPLAY: block; OVERFLOW: hidden; HEIGHT: 1px}
.tb2_tab, .tb3_tab, .tb4_tab   {BORDER-RIGHT: #939393 1px solid; BACKGROUND: #666 !important; BORDER-LEFT: #939393 1px solid}
.tb1_tab {BACKGROUND: #939393; MARGIN: 0px 3px}
.tb2_tab {MARGIN: 0px 2px}
.tb3_tab {MARGIN: 0px 1px}
.xboxcontent {BORDER-RIGHT: #939393 1px solid; DISPLAY: block; BORDER-LEFT: #939393 1px solid; BORDER-BOTTOM: #939393 0px solid}
.tb_content,
.tb_content span{display:block;background:#fff url(../../images.vietnamworks.com/dot.gif) left repeat-y; padding-left:5px}
.tb_content span{display:block;background:url(../../images.vietnamworks.com/dot.gif) right repeat-y; padding-right:5px; padding-top:10px; padding-bottom:5px}

.tb_content_edge,
.tb_content_edge .line_edge{display:block;background:#fff url(../../images.vietnamworks.com/dot.gif) left repeat-y; padding-left:5px}
.tb_content_edge .line_edge{display:block;background:url(../../images.vietnamworks.com/dot.gif) right repeat-y; padding-right:5px; padding-top:10px; padding-bottom:5px}

.tb_active{BACKGROUND: #fff !important}
.tb_inactive{BACKGROUND: #666 !important}
.tb_active, .tb_inactive {font-weight:bold; font-size:11px; padding:3px 5px 5px 3px; text-align:center}

.career_tips_box{list-style-type:none; margin:0px; padding:0px}
.career_tips_box b{ font-weight:normal}
.career_tips_box li{padding-top:10px}
.career_tips_div1{margin-top:0px;margin-bottom:0px; padding-top:7px}
.career_tips_div2{margin-top:-12px;margin-left:10px}
.career_tips_div2 a{color:#555555;text-decoration:underline}
.career_tips_div2 a:hover{color:#ff9900;text-decoration:underline}

/* style for login page ------------------------------------------------------------------------------------------------*/
.wrap_login{background:url(../../images.vietnamworks.com/pic_login1.jpg) no-repeat left bottom; margin:0px auto 0px; width:980px; padding-top:10px;}
.left_col_log{float:left; width:322px; margin-left:220px}
.narrow_title{background:url(../../images.vietnamworks.com/arrow_org.gif) left top no-repeat; margin-top:5px}
.txt_title4{font-size:13px; font-weight:bold; color:#ff9900}
.txt_title4 a{text-decoration:none}
.txt_title4 a:hover{text-decoration:underline; color:#555}
.txt_title5{font-size:17px; font-weight:bold; color:#ff9900}
.txt_title6{font-size:17px; font-weight:bold; color:#00aeff}
.txt_title6 a{color:#00aeff; text-decoration:underline}
.txt_title6 a:hover{color:#00aeff; text-decoration:underline}
.txt_title7{font-size:13px; font-weight:bold; color:#555555}
.gray_content_log {BORDER-RIGHT: #939393 1px solid; BORDER-TOP: #939393 0px solid; DISPLAY: block; BORDER-LEFT: #939393 1px solid; BORDER-BOTTOM: #939393 0px solid; padding:10px 5px 0px 7px}
.gray_content_log {background:#e9e9e9 url(../../images.vietnamworks.com/bg_login_box.gif) top repeat-x}

.content_box_dot{background:url(../../images.vietnamworks.com/dot_line.gif) repeat-y right;}
.content_box_dot div{background:url(../../images.vietnamworks.com/dot_line.gif) repeat-y left; padding:10px 10px 10px 15px}
.content_box_dot p{display:block; margin-top:10px; font-size:10px; padding:0px; margin-bottom:0px}

.box_dot_b{background:url(../../images.vietnamworks.com/dot_line_ho.gif) top repeat-x; height:6px;}
.box_dot_t{background:url(../../images.vietnamworks.com/dot_line_ho_t.gif) top repeat-x; height:6px;}
.box_dot_t .topl_box_dot{background:url(../../images.vietnamworks.com/cornerdot_tl.gif) top no-repeat; height:6px; width:7px; float:left}
.box_dot_t .topr_box_dot{background:url(../../images.vietnamworks.com/cornerdot_tr.gif) top no-repeat; height:6px; width:7px; float:right}
.box_dot_b .botl_box_dot{background:url(../../images.vietnamworks.com/cornerdot_bl.gif) no-repeat; height:6px; width:7px; float:left}
.box_dot_b .botr_box_dot{background:url(../../images.vietnamworks.com/cornerdot_br.gif) no-repeat; height:6px; width:7px; float:right}

#cont_loginpage{margin-top:15px;background:url(../../images.vietnamworks.com/pic_login.jpg) left bottom no-repeat;}
.cont_textloginpage{margin-left:256px; padding-left:10px; border-left:#00adef 4px solid; width:290px}
.txt_point{color:#00adef}
.line_dashed1{border-bottom:#939598 1px dashed; margin:11px 15px 11px 0px}
.register_here{font-size:13px; color:#00aeef;font-weight:bold;}
.register_here a{color:#00aeef;text-decoration:none}
.register_here a:hover{color:#ff9900;text-decoration:none}

/* new 14-07-2007*/
/*------------------------------------------------------------*/
			/*style for apply online thankyou*/
/*------------------------------------------------------------*/
.box_thank { background:url(../../images.vietnamworks.com/appthank_line.gif) top repeat-x; height:332px}
.box_thank .boxthank_ct { background:url(../../images.vietnamworks.com/appthank_boderright.gif) right no-repeat; display:block; height:332px}
.box_thank .thank_tit { font-weight:bold; font-size:12px; color:#ff9900; margin-bottom:20px}
.box_thank .jobtitle { color:#00adef; font-weight:bold}
.box_thank .thank_people { text-align:right; font-style:italic}
.box_thank_list { list-style-type:none; margin:20px 0 0 0; padding:20px 0 0 0; background:url(../feedback_us.php_files/images/dot_line_cr.html) top repeat-x}
.box_thank_list li { background:url(../../images.vietnamworks.com/appthank_arrow.gif) top left no-repeat; padding-left:25px; margin-bottom:17px; line-height:15px}

/*--------------------------------------------------------------------------*/
			/*style for box categoty search news 
/*--------------------------------------------------------------------------*/
.home_catsearch{background:#fff url(../../images.vietnamworks.com/testimonial/category_boderright.gif) top right no-repeat; height:199px; margin-bottom:10px}

.home_catsearch .img_successstory1 {background:url(../../images.vietnamworks.com/testimonial/succsesshome_pic1.jpg) no-repeat; width:192px; height:40px; float:left; padding-top:159px}
.home_catsearch .img_successstory2 {background:url(../../images.vietnamworks.com/testimonial/succsesshome_pic2.jpg) no-repeat; width:192px; height:40px; float:left; padding-top:159px}
.home_catsearch .img_successstory3 {background:url(../../images.vietnamworks.com/testimonial/succsesshome_pic3.jpg) no-repeat; width:192px; height:40px; float:left; padding-top:159px}
.home_catsearch .img_successstory4 {background:url(../../images.vietnamworks.com/testimonial/succsesshome_pic4.jpg) no-repeat; width:192px; height:40px; float:left; padding-top:159px}
.home_catsearch .img_successstory5 {background:url(../../images.vietnamworks.com/testimonial/succsesshome_pic5.jpg) no-repeat; width:192px; height:40px; float:left; padding-top:159px}
.home_catsearch .img_successstory6 {background:url(../../images.vietnamworks.com/testimonial/succsesshome_pic6.jpg) no-repeat; width:192px; height:40px; float:left; padding-top:159px}
.home_catsearch .img_successstory7 {background:url(../../images.vietnamworks.com/testimonial/succsesshome_pic7.jpg) no-repeat; width:192px; height:40px; float:left; padding-top:159px}
.home_catsearch .img_successstory8 {background:url(../../images.vietnamworks.com/testimonial/succsesshome_pic8.jpg) no-repeat; width:192px; height:40px; float:left; padding-top:159px}

.home_catsearch .catsearchbg {border-top:#d3d3d3 1px solid; border-bottom:#d3d3d3 1px solid; height:192px; float:left; padding-top:5px; width:370px; _width:auto; padding-left:0px}

.home_catsearch .browse_more { color:#ff9900; font-weight:bold; padding-top:10px }
.home_catsearch .browse_more a {color:#ff9900;text-decoration:underline;}
.home_catsearch .browse_more a:hover { color:#ff9900;text-decoration:underline}

.home_catsearch .list_catleft{ list-style-type:none; float:left; width:180px; margin:15px 0 5px 0; padding:0}
.home_catsearch .list_catleft li{padding-bottom:5px}
.home_catsearch .list_catright{ list-style-type:none; float:left; margin:15px 0 5px 0; padding-left:5px}
.home_catsearch .list_catright li{padding-bottom:5px}
.home_catsearch a {color:#555555; text-decoration:underline}
.home_catsearch a:hover {color:#FF9900; text-decoration:underline}
.home_catsearch em {color:#999; font-style:normal}

/* -----------------------------------------------------------------------------------------*/
							/* stye for FAQ */
/* -----------------------------------------------------------------------------------------*/
.line_title_faq {
	background:url(../../images.vietnamworks.com/faq_dotted.gif) bottom repeat-x; margin-bottom:15px; padding-bottom:2px
}

#leftcol_question {float:left; width:480px; margin-top:22px}
#rightcol_question {float:right; width:480px; margin-top:22px}
.block_question { border-top:#dfdfdf 14px solid; padding:15px 0}
.block_question a {color:#555; text-decoration:none}
.block_question a:hover {color:#f90; text-decoration:underline}

.block_question ul {list-style-type:none; padding:0; margin:10px 0 0 0}
.block_question ul li { background:url(../../images.vietnamworks.com/faq_linefirst.gif) top  left no-repeat; padding-left:10px}

.faq_block_content {background:url(../../images.vietnamworks.com/faq_dotted.gif) top repeat-x; margin-top:15px}
.faq_block_content .block_ctleft {background:url(../../images.vietnamworks.com/faq_dotted_ho.gif) top left repeat-y}
.faq_block_content .block_ctright {background:url(../../images.vietnamworks.com/faq_dotted_ho.gif) top right repeat-y; padding:15px 10px 5px 10px; height:1%}
.faq_block_content .block_ctbottom {background:url(../../images.vietnamworks.com/faq_dotted.gif) bottom repeat-x}
.faq_title {background:url(../../images.vietnamworks.com/faq_dotted.gif) bottom repeat-x; height:18px; margin-bottom:15px}
.faq_title img {float:left}
.faq_title span {float:right; display:block}
.faqtitle_answer {background:#dfdfdf; padding:2px 5px; color:#000; font-weight:bold; margin-bottom:12px; margin-top:15px}
.faq_answer {padding:0 5px }

/* ---------------------------------------------------------------------------------- */
							/* Newsletter */
/* ---------------------------------------------------------------------------------- */
.mktnews_wrap {width:980px; margin:auto; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px}
.mktnews_letter {background:url(../../images.vietnamworks.com/reg_newsletter/mktnews_letter.gif) top no-repeat; padding:267px 0 80px 114px; height:37px; _height:0px}	
.letter_ct {float:left; width:210px; margin-right:25px; font-weight:bold; color:#00b9f1; text-align:right}

.mktnews_letter_vn {background:url(../../images.vietnamworks.com/reg_newsletter/mktnews_letter_vn.gif) top no-repeat; padding:267px 0 80px 114px; height:37px; _height:0px}	

.mktnews_box {background:#ebebeb url(../../images.vietnamworks.com/reg_newsletter/mktnews_boxtl.gif) left no-repeat}
.mktnews_boxcorner {background:url(../../images.vietnamworks.com/reg_newsletter/mktnews_boxtr.gif) right no-repeat; height:31px; color:#f7931d; font-size:18px; font-weight:bold; padding:6px 0 0 10px}
.mktnews_box_content {background:#f4f4f4; padding:10px 0 0 40px; height:1%}

.mktnews_boxct {float:left}
#mktnews_freeweek {width:200px; margin-right:90px; background:url(../../images.vietnamworks.com/reg_newsletter/mktnews_pic1.jpg) no-repeat 30px 0; padding-top:111px}
#mktnews_reg {width:168px; margin-right:80px; _margin-right:50px; margin-top:15px}
#mktnews_notmem {width:120px; margin-top:15px}

#mktnews_freeweek_vn {width:200px; margin-right:70px; background:url(../../images.vietnamworks.com/reg_newsletter/mktnews_pic1.jpg) no-repeat 30px 0; padding-top:111px}
#mktnews_reg_vn {width:230px; margin-right:40px; margin-top:15px}
#mktnews_notmem_vn {width:155px; margin-top:15px}

.mktnews_box_content form {display:block; margin:0; padding:0}
.mktnews_box_content .input {margin-top:7px; width:168px; color:#7f7f7f}
.mktnews_btn {background:url(../../images.vietnamworks.com/reg_newsletter/mktnews_btnbg.gif) no-repeat; height:33px; width:95px; color:#6b5d48; font-family:Arial, Helvetica, sans-serif; font-size:18px; border-style:none; cursor:pointer;}

.mktnews_boxbot {background:#f4f4f4 url(../../images.vietnamworks.com/reg_newsletter/mktnews_boxbl.gif) left no-repeat}
.mktnews_boxbotcorner {background:url(../../images.vietnamworks.com/reg_newsletter/mktnews_boxbr.gif) right no-repeat; height:12px}

/* ---------------------------------------------------------------------------------- */
							/* JobAlert */
/* ---------------------------------------------------------------------------------- */
.wrap_mktjoba {width:980px; margin:auto; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px}

.mktjoba_topbg {background:url(../../images.vietnamworks.com/reg_jobalert/mktjob_topbg.gif) top no-repeat; height:160px}
.mktjoba_topbg_vn {background:url(../../images.vietnamworks.com/reg_jobalert/mktjob_topbg_vn.gif) top no-repeat; height:160px}
.mktjoba_botbg {background:url(../../images.vietnamworks.com/reg_jobalert/mktjob_botbg.jpg) top no-repeat; text-align:right; color:#fff; font-weight:bold; padding-right:20px; height:192px; margin-bottom:10px}

.mktjoba_clickbg {background:url(../../images.vietnamworks.com/reg_jobalert/mktjob_clickbg.gif) no-repeat; width:364px; height:101px; text-align:center; padding-top:30px; float:left}
.mktjoba_spfeature {width:310px; float:right}
.mktjoba_text { font-weight:bold; text-align:center; padding-right:80px}
.mktjoba_textbtn {width:115px; float:left; text-align:left; margin-top:15px; margin-right:30px; cursor:pointer;}

.mktjoba_spfeature_vn {width:360px; float:right;}
.mktjoba_text_vn { font-weight:bold;}
.mktjoba_textbtn_vn {width:160px; float:left; text-align:left; margin-top:15px; cursor:pointer;} 

.mktnews_btn {background:url(../../images.vietnamworks.com/reg_jobalert/mktnews_btnbg.gif) no-repeat; height:33px; width:95px; color:#6b5d48; font-family:Arial, Helvetica, sans-serif; font-size:18px; border-style:none; margin-top:15px; cursor:pointer;}

.bottom_corner1 { background:#cadff3; height:9px}
	.bottom_corner1_left, .bottom_corner1_right {display:block; width:9px; height:9px; background:url(../../images.vietnamworks.com/bottom_corner1.gif) no-repeat}
	.bottom_corner1_left { background-position:0 0; float:left}
	.bottom_corner1_right { background-position:100% 0; float:right}
	
.bottom_corner2 { background:#ccc; height:9px}
	.bottom_corner2_left, .bottom_corner2_right {display:block; width:9px; height:9px; background:url(../../images.vietnamworks.com/bottom_corner2.gif) no-repeat}
	.bottom_corner2_left { background-position:0 0; float:left}
	.bottom_corner2_right { background-position:100% 0; float:right}	
	.vns_linktoedu {color:#333; padding-left:15px; float:left; line-height:18px }
	
	.vns_violet {color:#91278f; font-weight:bold; text-transform:uppercase}
	.vns_linkgreen {color:#8cc637; font-weight:bold; text-transform:uppercase}
	.vns_linktoedu_btn {background:url(../../images.vietnamworks.com/edulink_arrow.gif) no-repeat 5px 0; padding-left:25px}
	.vns_linktoedu_btn a {color:#333; text-decoration:underline; font-weight:bold}
	.vns_linktoedu_btn a:hover {color:#f90}

.vns_violet {color:#91278f; font-weight:bold; text-transform:uppercase}
.vns_linkgreen {color:#8cc637; font-weight:bold; text-transform:uppercase}
.vns_linktoedu_btn {background:url(../../images.vietnamworks.com/edulink_arrow.gif) no-repeat 5px 0; padding-left:25px; cursor:pointer;}
.vns_linktoedu_btn a {color:#333; text-decoration:underline; font-weight:bold}
.vns_linktoedu_btn a:hover {color:#f90}
.list_normal ul {list-style-type:disc !important}	



/* Update 2010 Jul*/
#feedback form {margin:0 0 10px 0; overflow:auto}
#feedback .bodyContent {padding:10px 0 0 0; }
#feedback .bodyContent span{padding:10px;}



/*General Feedback Box */
.feedbackBox {border:1px #f90 solid; background:#fff9ef ; padding:15px 20px; vertical-align:middle; -moz-border-radius:5px 5px 5px 5px;}
.feedbackBox span.feedbackText { background: url(../../images.vietnamworks.com/icon-processing.gif) no-repeat 3px 3px; font-size:14px; color:#333; padding:4px 5px 5px 35px ; display:block; text-align:center}

/* Apply Online*/
.white_content {position:relative;}
#feedbackbox { text-align:center;margin:0 auto;  position:absolute; top:250px; left:230px; width:250px}

